Flask==2.3.2
gunicorn==20.1.0
Flask-Cors>=4.0.0  # Allows for any version 4.0.0 and above
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
psycopg2-binary==2.9.6   # PostgreSQL adapter (only if using PostgreSQL)
pymysql==1.0.3           # MySQL adapter (only if using MySQL)
python-dotenv==1.0.0
# Remove or adjust PyQt5-Qt5 if it’s not necessary for your Flask app
# PyQt5-Qt5==5.15.13
